@model IEnumerable<BLL.DTO.TrainDTO>

@{
    ViewBag.Title = "Поезда";
    Layout = "_ManagerLayout";
}

<div class="container-xxl m-1">
    <div class="table-wrapper">
        <div class="table-title m-3">
            <div class="col-sm-6">
                <div class="row">
                    <a asp-action="CreateTrain" class="btn btn-primary">
                        <span>Добавить</span>
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th> Номер </th>
                    <th> Имя </th>
                    <th> Кол-во вагонов</th>
                    <th> Тип </th>
                    <th> Фото типа </th>
                    <th> Вагон </th>
                    <th> Фото вагона</th>
                    <th> Действия </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.CarriageCount)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.TypeTrain.TypeName)
                        </td>
                        <td>
                            <img src="@item.TypeTrain.Photo" alt="Фото" class="img-thumbnail">
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Carriage.Name)
                        </td>
                        <td>
                            <img src="@item.Carriage.TypeCarriage.Photo" alt="Фото" class="img-thumbnail">
                        </td>
                        <td>
                            <a asp-action="UpdateTrain" asp-route-id="@item.Id" class="btn btn-info">Редактировать</a>
                            <a asp-action="DeleteTrain" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
                        </td>
                    </tr> 
                }
            </tbody>
        </table>
    </div>
</div>